# Main service settings
MAIN_POSTGRES_DB_USER=app
MAIN_POSTGRES_DB_PASSWORD=123qwe
MAIN_POSTGRES_DB_NAME=movies_database
MAIN_POSTGRES_DB_PORT=5432
MAIN_POSTGRES_DB_HOST=main_postgres

MAIN_ELASTIC_HOST=main_elastic

# Auth service settings
AUTH_POSTGRES_DB_USER=app_auth
AUTH_POSTGRES_DB_PASSWORD=123qwe_auth
AUTH_POSTGRES_DB_NAME=auth_database
AUTH_POSTGRES_DB_PORT=5432
AUTH_POSTGRES_DB_HOST=auth_postgres

# Elastic
ELASTIC_URL=http://elastic:9200/

# Flask
SECRET_KEY=secret-SeCreT-parOle22

SQLALCHEMY_DATABASE_URI=postgresql://app_auth:123qwe_auth@auth_postgres/auth_database

AUTH_HASH_METHOD=pbkdf2:sha256:8000
AUTH_HASH_SALT_LENGTH=16

GOOGLE_CLIENT_ID=484906193354-grrn41r2uarc5bk3fjtt2nvdl1eqeg6n.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

YANDEX_CLIENT_ID=2fbf7da2783d4d62a1ebadc338b8c6a3
YANDEX_CLIENT_SECRET=33df9b16ce56488e99c42466ebfabcaa

FACEBOOK_CLIENT_ID=492290426182683
FACEBOOK_CLIENT_SECRET=17d0ada373c768553845411db8ce6932

TWITTER_CLIENT_ID=6y0natenOyR4j6SMIpKGXm26K
TWITTER_CLIENT_SECRET=1wuFKmKQ4D2p3RUQ8SGtkwYYbOslUFGpx83ksfqkVgNtcXq0sN

VK_CLIENT_ID=51472019
VK_CLIENT_SECRET=z6zivXAYaEaaoPRhQjIL